{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/style.css" title="style"/>
{% endblock %}

{% block pagecontent %}
<h1> Private Articles </h1>


{% for post in posts %}
<div class="post">

    <a class="post-url" href="{% url 'posts:post' post_id=post.id %}">
        <div>
            <h2>
                {{ post.title | capfirst | truncatechars:70 }}
            </h2>
            <h5>
                {{ post.category.title }}
            </h5>
            <div class="content">
                <h4>
                    {{ post.created_at }}&nbsp;by&nbsp;{{ post.author }}
                </h4>
            </div>
        </div>
        {{ post.formatted_markdown | safe | truncatechars:250 }}
        <br>
        <div class="read">Читать полностью...</div>
    </a>
</div>
{% endfor %}
{% endblock %}
