{% extends 'base.html' %}
{% load static %}


{% block pagecontent %}

<h1> Mainpage </h1>

<h1> Hello, dear {{ user.first_name|default:'Пользователь' }} </h1>
<h4>
    <p>Вы можете посмотреть все публичные записи в разделе "Все статьи"
        Подрбно посмотреть статью Вы можете нажав "Читать полностью" или кликнув на текст статьи

<p>Для просмотра приватных статей в разделе "Для подписчиков", необходимо пройти авторизацию.</p>
<p>
    Если у Вас нет аккаунта, можете зарегистрироваться.
После заполнения данных формы регистрации:

На Вашу почту будет отправлено письмо с секретным ключом, перейдя по ссылки из письма в течение 48 часов,
Ваша учетная запись будет подтверждена.
</p>
<p>Для авторизации введите Ваш адрес электронной почты и пароль.

Вам откроется личный кабинет, ваши статьи а также "Профиль"

В нем вы можете выбрать роли: автор или подписчик (нельзя быть автором и подписчиком одновременно).

У авторов есть возможность создавать новые, редактировать свои записи, а также удалять (скрытие, без реального удаления).
</p>

</h4>




{% endblock %}